@if (mission) {

    <h2>Update Mission</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="missionForm">
        <label>Name:</label>
        <input type="text" formControlName="name">

        <label>Description:</label>
        <textarea formControlName="description"></textarea>

        <label>Start date:</label>
        <input type="date" formControlName="start_date">

        <label>Duration:</label>
        <input type="number" formControlName="duration">

        <label>Status:</label>
        <select formControlName="status">
            <option value="preparation">Preparation</option>
            <option value="planned">Planned</option>
            <option value="ongoing">Ongoing</option>
            <option value="completed">Completed</option>
        </select>

        <label>Skills:</label>
        <app-multi-select [initializedSkills]="this.skills" (selectedSkillsChange)="onSkillsChange($event)"></app-multi-select>

        <label>Employees:</label>
        <div class="container-employees">
            @for (employee of employees; track employee.id) {
                <input type="checkbox" [value]="employee.id" [checked]="this.selectedEmployeesId.includes(employee.id)" (change)="toggleEmployeeSelection(employee.id, $event)">
                    {{ employee.first_name }} {{ employee.last_name }}
            }
        </div>
            

        <button type="submit">Save Changes</button>
    </form>

}