.container {
  max-width: 1200px;
  margin: 20px auto;
  padding-inline: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header h2 {
  font-size: 1.5rem;
}

.diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#diag {
  width: 700px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  #diag {
    max-width: 300px;
  }
}
