.search-bar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input {
  width: 50%;
  max-width: 500px;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  padding-right: 30px;
  margin-right: 10px;
}

.search-input:focus {
  border-color: #4CAF50;
  outline: none;
}

.clear-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  color: red;
}

.clear-btn:hover {
  color: #000;
}

.employee-deleted {
  color: #f44336;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.employee-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

.no-employees-message {
  font-style: italic;
  color: #777;
  text-align: center;
}

@media (min-width: 768px) {
  .employee-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .employee-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
